body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.body_row {
  display: flex;
  width: 100%;
  justify-content: center;
}

/*Header*/
/*Header transparent scroll*/
body.scrolled header {
  opacity: 0.2;
  transition: opacity 0.2s;
}

/*Header opaque hover*/
body.scrolled header:hover {
  opacity: 1;
  transition: opacity 0.2s;
}

header {
  display: flex;
  position: sticky;
  z-index: 1;
  top: 0px;
  flex-direction: column;
  background-color: rgb(226, 226, 226);
  width: 100%;
  height: auto;
  align-self: center;
  border-bottom: 1px solid rgba(146, 145, 150, 0.75);
}

#center_h {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  justify-content: center;
  width: auto;
  height: 100%;
  padding:40px
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.h {
  text-transform: uppercase;
  margin: -5px;
}

h1 {
  font-size: 24px;
  letter-spacing: 4px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 12px;
  letter-spacing: 2px;
}

/*
#h_tag {
  border-top: 1px solid black;
  padding: 5px;
}
/*

/*Footer*/
#footer_template {
  display: flex;
  flex-grow: 1;
  width: 100%;
  min-height: 200px;
  height: auto;
  bottom: 0px;
  background-color: #202020;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#info-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa {
  color: white;
  font-size: 24px !important;
  margin: 8px;
}

.footer-text {
  font-size: 13px;
  color: white;
}

/*
#social {
  display: flex;
  flex-direction: row;
}

#social :hover {
  background-color: #25b96f !important;
}
*/

@media only screen and (max-width: 1000px) {

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 22px;
  }

   .footer-text {
    font-size: 23px;
  }

}