.main_body {
  display: flex;
  width: 65%;
}

.sub_body1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#about_container {
  padding-right: 40px;
  width: 100%;
}

#about_title {
  margin: 0px;
}

/* Position the image column (relative needed to position the left and right arrows) */
#slideshow_container {
  position: relative;
  width: 200%;
}


/* Hide the images by default */
.slides {
  display: none;
  position: relative;
  /* padding bottom controls slide image height */
  padding-bottom: 65%;
  border: 1px solid rgba(146, 145, 150, 0.75);
  border-top: none !important;
}

#slide_1 {
  display: flex;
}

.slide_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0px;
  padding-left: 60px;
  padding-right: 60px;
  color: white;
  font-weight: bold;
  font-size: 38px;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: grey;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-size: 12px;
  position: absolute;
  top: -50px;
  left: 5px;
  z-index: 1000;
}

/* Container for image text */
.caption_container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row {
  display: flex;
  margin-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.thumbs {
  display: none;
  position: relative;
  padding-bottom: 15%;
  width: 100%;
  height: 100%;
  margin: 10px;
  border: 1px solid rgba(146, 145, 150, 0.75);
}

/* Add a transparency effect for thumnbail images */
.thumb_img {
  filter: brightness(50%);
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.active,
.thumb_img:hover {
  filter: brightness(100%);
}

@media only screen and (max-width: 1000px) {
  .main_body {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 80%;
  }

  .sub_body1 {
    margin: 0;
  }

  #about_container {
    padding: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  #slideshow_container {
    width: 100%;
  }
}
